/* Color palette */ 
:root {
    --first-color: #ffffff;
    --second-color: #c7e9b4;
    --third-color: #7fcdbb;
    --fourth-color: #41b6c4;
    --fifth-color: #1d91c0;
    --sixth-color: #225ea8;
    --seventh-color: #0c2c84;
}

@font-face {
    font-family: "Fira Code";
    src: url("fonts/FiraCode-Light.ttf");
}

@font-face {
    font-family: "Palanquin";
    src: url("fonts/PalanquinDark-Regular.ttf");
}

#title-p1 {
    font-family: "Palanquin";
    color: #F94F55;
    font-size: 48px;
    text-align: center;
    margin-right: 10px;
}

#title-p2 {
    font-family: "Palanquin";
    font-size: 48px;
    text-align: center;
}

*,
html,
body {
    font-family: 'Fira Code', monospace;
}

html {
    background-color: var(--first-color);
    margin: 0px 0px 0px 20px;
}

#example-graph {
    padding: 40px 40px 60px 60px;
}

#housing-type-dropdown {
    padding: 10px 10px 5px 5px;
    width: 30%;
}

#price-slider,
#size-slider,
#year-slider {
    width: 30%;
    padding: 10px 10px 5px 5px;
    margin: 5px;
}

#price-label,
#year-label {
    padding-top: 10px;
    border-top: 10px;
}


.rc-slider,
.rc-slider-with-marks {
    padding: 10px 10px 5px 5px;
}

#location-dropdown {
    width: 30%;
}